/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {

    --bs-white: #fff;
    --bs-gray: #8C8C8C;
    --bs-gray-dark: #696969;
    --bs-black: #000;
    

}

/* BASIC STYLES */

body{
    background-color: var(--bs-white);
	font-family: "Josefin Sans", sans-serif;


	
}



/* desktop STYLES START HERE */



header {

	background-image: url(/images/desktop/image-hero.jpg);
	height: 652px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 100px;

}



h1 {
	font-size: 70px;
	color: var(--bs-white);
	font-weight: 300;
	

}

p {
	font-size: 15px;
	line-height: 2;
	padding-top: 30px;
	color: var(--bs-gray-dark);
}

h2 {
	font-size: 50px;
	color: var(--bs-black);
	font-weight: 300;
	

}



.navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px;
	
}



span {
	color:var(--bs-white);
	font-size: 40px;
}



.nav-link {
	color:var(--bs-white);
	position: relative;
}


.nav-link:hover {
    text-decoration: none;
	color: var(--bs-white);
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px; 
    background-color: var(--bs-white);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 25%;
	left: 40%;
}


.leader{
	margin-bottom: 188px;
	margin-top: 188px;
}

.title{
	padding: 41px;
	border: 3px solid var(--bs-white);
	width: 658px;
	margin-top: 64px;
	
}

.creation-card {
    position: relative;
    overflow: hidden;
}

.creation-card img {
    width: 100%;
    height: auto;
    display: block;
	filter: contrast(1);
}

.creation-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
	font-weight: 300;
	font-size: 40px;
    text-transform: uppercase;
}

.see-all-btn {
    border: 2px solid black;
    padding: 10px 10px;
    text-transform: uppercase;
	width: 160px;
	height:45px;

}


.our-creations{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

footer a {
	color: var(--bs-white);
  }
  
  footer a:hover {
	color: var(--bs-white);
  }


  
  footer .nav-link {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
  }
  
  footer .nav-link:hover::after {
	content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px; 
    background-color: var(--bs-white);
    transition: width 0.3s ease;
  }

  footer .nav-link:hover::after {
    width: 25%;
	left: 40%;
}

  
  footer img {
	width: 24px;
	height: 24px;
	
  }

  footer img:hover {
	color: var(--bs-white);
  }

  
  .part-one{
	display: flex;
	justify-content: space-between;
  }

  .part-two{
	display: flex;
	justify-content: space-between;
  }

  .nav-footer {
	display: flex;
	justify-content: space-between;
	
	
  }

  .copyright{
	margin-top: -30px;
  }









/* MOBILE STYLES START HERE */

@media (max-width: 576px) {


	header {

		background-image: url(/images/mobile/image-hero.jpg);
		height: 800px;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
			
		}

		.title{
			padding: 49px;
			border: 3px solid var(--bs-white);
			width: 658px;
			margin-top: 64px;
			
		}

		h1 {
			font-size: 45px;
			color: var(--bs-white);
			font-weight: 300;
			
		
		}


			
			  h2 {
				font-size: 40px;
				color: var(--bs-black);
				font-weight: 300;
				text-align: center;
				padding-top: 30px;
				
			
			}


			p {
				text-align: center;
				padding: 20px;
			
			}

			.navigation {
				display: flex;
				flex-direction: column;
				justify-content: left;
				padding-top: 64px;
				padding-bottom: 64px;
				
			}



			.nav {
				display: flex;
				flex-direction: column;
				text-transform: uppercase;
				
			}

			.nav-link::after {
				content: "";
				position: absolute;
				width: 0;
				height: 2px;
				left: 0;
				bottom: -5px; 
				background-color: var(--bs-white);
				transition: width 0.3s ease-out;
			}

			.nav-link:hover::after {
				width: 20%;
				left: 200%;
			}
			
		


			.leader{
				margin-bottom: 50px;
				
			}


			.creation-card img {
				height: 250px;
				object-fit:cover;
			}

			.our-creations{
				display: flex;
				flex-direction: column;
				align-items: center;

			}

			.see-all-btn{
				margin-top: 30px;
			}
		
			.part-one{
				display: flex;
				flex-direction: column;
				align-items: center;
			  }

			  .part-two{
				display: flex;
				flex-direction: column;
				align-items: center;
			  }


			  .nav-footer {
				display: flex;
				flex-direction: column;
				align-items: center;
				
				
			  }

			  footer .nav-link {
				padding-top: 1rem;
				
			  }

		
			  .copyright{
				margin-top: -10px;
				align-items: center;
			  }

			  .icons{
				order: 2;
			  }
			

			
			
}	